// Nestings, variables, import ...
@use 'base';
@use 'variables';
@use 'mixs';
@import './variables';
@import './header';

@function plus($a, $b: 1000) {
  $c : $a + $b;
  @return $c;
}

.container {
  // use of functions
  height: plus(500px, 100px);

  // height: 500px;
  // + - * %
  width: 1500px % 1000;

  @include mixs.displayFlex(row);
  // @include setBackground();
  margin: 10px;
  div {
      background-color: $primaryColor;
      width: 50px;
      height: 50px;
      margin: 10px;
  }
}

.main{
  background-color: skyblue;
  @include mixs.displayFlex(column, red);
  img {
    width: 200px;
    margin: 10px;
  }
}

.inverse {
  background-color: base.$primary-color;
  color: white;
}// means that over one file  
// @import '../README.md'



#some-id {
    
}
body {
  background-color: variables.$primaryColor;
  color: white;
  text-align: center;
  font-size: $fontSize;
  font-family: $font-family;
}

@media screen and (max-width: 700px) {
    body {
        background-color: aqua;

    }
    
}


// example of attribute selectors:
input[type="text"] {
  background: skyblue;
}

// is equal to

// header {
//   background-color: aliceblue;
//   padding: 30px;
//   display: flex;
//   justify-content: space-around;
// }
// header button {
//   width: 70px;
//   height: 50px;
//   background: gray;
// }
// button:hover {
//     background: red;
// }
