body {
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;
}

img {

}

h1 {

}

a {
    
}
/* For Phones */
@media only screen and (max-width: 769px){
    body {
        display: flex;
    }
}
/* For Tablets */
@media only screen and (min-width: 770px) and (max-width: 1280px) {
}
/* For Desktop */
@media only screen and (min-width: 1281px) {
}
